<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolo subnet</title>
    <link rel="stylesheet" href="/calc.css">
</head>
<body>
    <div id="nav-bar">
        <a href="/" ><strong>Torna alla home</strong></a>
        <a href="/calc-subnet"><strong>Calcola subnet</strong></a>
    </div >
    
    <h2>Convertitore</h2>
    
    <form action="/converter" method="post">
        <label>Numero decimale</label>
        <input type="number" name="numero" placeholder="inserire il numero" required>
        <br><br>

        <br>
        <button type="submit">Converti</button>
        
    </form>
</body>
</html>