<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>Calcolatore subnetting e convertitore</h1>
    <div id="nav-bar">
        <a href="/calc-subnet">Calcolo Subnet</a>
        <a href="/converter">Conversione numerica</a>
    </div>
    
</body>
</html>