<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result converter</title>
    <link rel="stylesheet" href="/result-converter.css">
</head>
<link rel="stylesheet" href="/result-converter.css">

<body>
    <div id="nav-bars">
        <a href="/calc-subnet">Calcolo subnet</a>
        <a href="/">Torna alla Home</a>
    </div>
    <div id="container-result">
        <h1>Result converter</h1>

        <p><strong>Numero inserito:</strong>
            <%= number %>
        </p>
        <p><strong>Binario:</strong>
            <%= binary %>
        </p>
        <p><strong>Ottale:</strong>
            <%= oct %>
        </p>
        <p><strong>Esadecimale:</strong>
            <%= hex %>
        </p>
    </div>
    
    


</body>

</html>